spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/notifyhub
    username: notifyhub
    password: notifyhub
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
  sql:
    init:
      mode: never

server:
  port: 8080
